<meta charset="UTF-8">
<title>NodeJS Component Manager</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="NCM_logo_default" href="/assets/NCM_logo_default.ico" type="image/x-icon">
<style>
    body {
        padding-top: 50px;
    }
</style>