<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-logo" src="/assets/NCM_logo_default.jpg" alt="NCM_logo_default" height="100">
    <a class="navbar-brand" href="/">NodeJS Component Manager</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Actions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">Settings</a>
        </li>
    </ul>
</nav>