<!DOCTYPE html>
    <html lang="en">
    
    <head>
        <%- include('./partials/head'); %>
    </head>
    
    <body class="container">
    
        <header>
            <%- include('./partials/header'); %>
        </header>
    
        <main>
            <div class="jumbotron">
                <h1>Page routing in creating ...</h1>
                <p>Wait futur version to use UI</p>
            </div>

            <% include('./pages/'+=page) %> 
        </main>
    
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    
    </body>
    
    </html>