
    <h1>Welcome to Component Manager</h1>
    <p>You can create, edit and remove a complete a NodeJS Express Component</p>
    <form action="" method="get">
        <input type="text" name="componentName" placeholder="Component Name">
        <button type="submit">Submit</button>
    </form>