<%- include('../partials/header.ejs') %>
    <h1>Login</h1>
    <form action="" method="post">
        Email : <input type="text" name="email"> Password :<input type="text" name="password"><br><br>
        <button type="submit">Login</button>
    </form>


    <%- include('../partials/footer.ejs') %>