<%- include('../partials/header.ejs') %>

    <h1>Register</h1>
    <form action="/register" method="POST">
        Username : <input type="text" name="username"> Email : <input type="text" name="email"> Username :<input type="text" name="password"><br><br>
        <button type="submit">Rerigter</button>
    </form>

    <%- include('../partials/footer.ejs') %>